.error-msg {
    color: red;
    background-color: #ffe0e0;
    border: 1px solid red;
    border-radius: 6px;
    padding: 10px 14px;
    font-size: 14px;
    margin: 8px 0;
}

.field-error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    display: block;
}

.input-error {
    border: 1px solid red !important;
    outline: none;
}
.pass-msg {
    color: #0f5132;
    background-color: #d1e7dd;
    border: 1px solid #198754;
    border-radius: 6px;
    padding: 10px 14px;
    font-size: 14px;
    margin: 8px 0;
}